name: Run bantool

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      game:
        required: true
        type: string
      datastore-filepath:
        required: true
        type: string
      datastore-cache-key:
        required: true
        type: string
      skus-filepath:
        type: string
      skus-cache-key:
        type: string

jobs:
  run-bantool:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check IP
        run: echo "Runner IP - $(curl https://api.ipify.org 2> /dev/null)"

      - name: Install golang
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Show Go version
        run: go version

      - name: Cache Go module downloads
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod/cache
          key: go-mod-cache-${{ hashFiles('**/go.sum') }}
          restore-keys: go-mod-cache-

      - name: Cache Datastore
        uses: actions/cache/restore@v4
        with:
          path: "datastore/"
          key: ${{ inputs.datastore-cache-key }}
          fail-on-cache-miss: true

      - if: ${{ inputs.skus-cache-key }}
        name: Cache Skus
        uses: actions/cache/restore@v4
        with:
          path: "datastore/"
          key: ${{ inputs.skus-cache-key }}
          fail-on-cache-miss: true

      - name: Build bantool
        run: |
          cd cmd/bantool
          go install

      - name: Run bantool
        id: run_bantool
        env:
          OUTPUT_BASE: "${{ vars.OUTPUT_BASE }}"

          CK_PARTNER: "${{ vars.CK_PARTNER }}"
          CSI_PARTNER: "${{ vars.CSI_PARTNER }}"
          CT_PARTNER: "${{ vars.CT_PARTNER }}"
          MP_PARTNER: "${{ vars.MP_PARTNER }}"
          SCG_PARTNER: "${{ vars.SCG_PARTNER }}"
          TCG_PARTNER: "${{ vars.TCG_PARTNER }}"
          MAX_CONCURRENCY: "${{ vars.MAX_CONCURRENCY }}"

          MTGJSON_TCGSKU_PATH: "${{ inputs.skus-filepath }}"

          AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
          AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          AWS_ENDPOINT: "${{ secrets.AWS_ENDPOINT }}"

          B2_APP_KEY: "${{ secrets.B2_APP_KEY }}"
          B2_KEY_ID: "${{ secrets.B2_KEY_ID }}"
          BAN_API_KEY: "${{ secrets.BAN_API_KEY }}"
          CARDTRADER_TOKEN_BEARER: "${{ secrets.CARDTRADER_TOKEN_BEARER }}"
          MKM_APP_SECRET: "${{ secrets.MKM_APP_SECRET }}"
          MKM_APP_TOKEN: "${{ secrets.MKM_APP_TOKEN }}"
          SCG_BEARER: "${{ secrets.SCG_BEARER }}"
          SCG_GUID: "${{ secrets.SCG_GUID }}"
          TCGPLAYER_AUTH: "${{ secrets.TCGPLAYER_AUTH }}"
          TCGPLAYER_PRIVATE_ID: "${{ secrets.TCGPLAYER_PRIVATE_ID }}"
          TCGPLAYER_PUBLIC_ID: "${{ secrets.TCGPLAYER_PUBLIC_ID }}"
        run: |
          set +e
          bantool -datastore ${{ inputs.datastore-filepath }} \
                  -output-path "${OUTPUT_BASE}/${{ inputs.game }}/${{ inputs.target }}" \
                  -format ndjson \
                  -${{ inputs.target }}
          EXIT=$?
          echo "exit_code=$EXIT" >> "$GITHUB_OUTPUT"
          set -e

          # delay failure so we can still load what succeeded
          if [[ $EXIT -eq 2 ]]; then
              exit 0
          fi
          exit $EXIT

      - name: Check bantool status
        if: ${{ steps.run_bantool.outputs.exit_code == '2' }}
        run: |
          echo "bantool returned exit code 2"
          exit 1
